.contenido-pagina-preincipal{
    margin-left: 1vh;
}

.bienvenida{
    color: #fff;
    margin-top: 8vh;
}

.bienvenidaP1{
    font-size: 11vh;
    text-shadow: 1.5vh 0.3vh 0 #19284d;;
}

.bienvenidaP2{
    font-size: 10.5vh;
    margin-left: 10vh;
    text-shadow: 1.3vh 0.3vh 0 #19284d;
}

.servicios{
    margin-top: 3vh;
    margin-left: 12vh;
    color: #fff;
    font-size: 4vh;
    list-style: none;
}

.contenedor-otras-app{
    margin: 0.3vh;
    margin-top: 3vh;
    margin-left: 9vh;
}

.otras-app{
    margin: 0.3vh;
    width: 12vh;
    height: 12vh;
}

@media (max-width:1020px){
        .bienvenidaP1{
        font-size: 7vh;
        text-shadow: 1vh 0.3vh 0 #19284d;
    }
    
    .bienvenidaP2{
        font-size: 6.5vh;
        text-shadow: 0.8vh 0.3vh 0 #19284d;
        margin-left: 6.0vh;
    }

        .servicios{
        margin-left: 7vh;
    }

        .contenedor-otras-app{
        margin-left: 0vh;
    }

}