.campo-informacion {
    color: aliceblue;
    background-color: rgba(85, 245, 245, 0.521);
    border-radius: 5px;
    border-style: none;
    padding: 1.5vh;
    margin-bottom: 1.5vh;
    margin-left: 0; /* elimina el margen lateral que empujaba a la derecha */
    width: 100%; /* ocupa todo el ancho disponible */
    display: flex;
    flex-direction: column;
    align-items: stretch; /* asegura que los hijos se expandan */
    box-sizing: border-box; /* evita que el padding rompa el ancho */
    outline: none;
    font-size: 2.5vh;
}

.nombreCampo,
.pregunta{
    color: aliceblue;
    font-size: 3vh;
}


.boton-envio,
.boton_guardar,
.boton_buscarPregunta,
.boton_Cambio{
    margin-top: 1vh;
    margin-bottom: 1vh;
    padding: 1.5vh;
    border-radius: 10px;
    border: none;
    background-color: rgba(11, 206, 206, 0.671);
    color: rgb(255, 255, 255);
    font-size: 2.5vh;
    outline: none;
}

.tituloPregunta,
.tituloRecuperarClaveCorreo{
    color: aliceblue;
    font-size: 5vh;
}

.containerFromPregunta,
.containerLogin,
.containerRegistrar,
.containerBuscarCorreo,
.containerCambioClave{
    max-width: 96%;
    margin: auto;
    margin-top: 3vh;
}